<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>
    <form id="message-form">
        <input name="message" placeholder="Message">
        <button>Send</button>
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/chat.js"></script>
</body>
</html>





